*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.boxex{
    display: flex;
    gap: 40px;
}
.box{
    background-color: aqua;
    height: 100px;
    width: 100px;
}
.active{
    background-color: blue;
}
.shadow{
    border: 2px solid red;
}